# üìò Pandas ‚Äì COMPLETE End-to-End Course  
## Deep Explanation + Extensive Practice (Beginner ‚Üí Data Science)

This notebook is a **FULL Pandas learning course**, written as if a faculty member is
teaching step-by-step.

### What makes this notebook complete?
‚úî Every concept is **explained in detail**  
‚úî Every concept has **multiple code examples**  
‚úî Heavy focus on **data cleaning & analysis**  
‚úî One realistic dataset used everywhere  
‚úî Enough practice to become confident in Pandas  

üìÅ Dataset required:
**Realistic_E-Commerce_Dataset.csv** (same folder)

---

## 1Ô∏è‚É£ Reading Files & Understanding DataFrames

### Function: `pd.read_csv()`

**What it does**
- Reads CSV files
- Converts data into a DataFrame

**Why it matters**
- CSV is the most common format in industry
- This is always the first step in data analysis

In [47]:
import pandas as pd
import numpy as np

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 25, 22],
    "City": ["New York", "London", "Paris"]
}

In [48]:
df = pd.DataFrame(data)
df

      Name  Age      City
0    Alice   23  New York
1      Bob   25    London
2  Charlie   22     Paris

In [50]:

import pandas as pd
import numpy as np

# df = pd.read_csv("Realistic_E-Commerce_Dataset.csv")
# df.head()

df = pd.read_csv('https://raw.githubusercontent.com/venuprakash17/CVR/refs/heads/main/Realistic_E-Commerce_Dataset.csv')
df.head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [51]:

import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/venuprakash17/CVR/refs/heads/main/Realistic_E-Commerce_Dataset.csv")
df.head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [54]:

# Practice: explore dataset
# print(df.tail())
print(df.sample(10))
print(df.shape)
print(df.columns)

      user_id  session_id                 date  gender  age   location  \
1136     1137        2473  2023-02-17 08:00:00    Male   51        USA
780       781        2903  2023-02-02 12:00:00  Female   26        USA
350       351        3385  2023-01-15 14:00:00    Male   51      India
10         11        1466  2023-01-01 10:00:00    Male   53     Canada
883       884        4197  2023-02-06 19:00:00    Male   32     Canada
744       745        4491  2023-02-01 00:00:00  Female   40         UK
579       580        2126  2023-01-25 03:00:00    Male   24  Australia
15         16        4444  2023-01-01 15:00:00  Female   42      India
432       433        1954  2023-01-19 00:00:00    Male   49     Canada
750       751        4465  2023-02-01 06:00:00    Male   37        USA

     membership_status  returning_customer device_type  browser  ...  \
1136             Guest                   0      Mobile     Edge  ...
780         Registered                   0     Desktop     Edge  ...
350         Registered                   0      Mobile   Chrome  ...
10               Guest                   1      Mobile   Chrome  ...
883         Registered                   0      Mobile   Chrome  ...
744         Registered                   0      Mobile   Chrome  ...
579              Guest                   1      Mobile   Chrome  ...
15          Registered                   1     Desktop  Firefox  ...
432              Guest                   1      Mobile   Chrome  ...
750         Registered                   1      Tablet  Firefox  ...

     traffic_source  ad_campaign  coupon_used  discount_applied  \
1136            Ads          NaN            0                 1
780          Social   Campaign_B            1                 0
350             Ads   Campaign_B            0                 1
10           Direct   Campaign_B            0                 1
883             Ads   Campaign_B            0                 0
744          Social   Campaign_A            0                 0
579          Social          NaN            1                 0
15          Organic          NaN            0                 0
432         Organic          NaN            0                 1
750             Ads          NaN            0                 1

      product_category wishlist_items cart_items  avg_session_value  \
1136       Electronics              0          4             324.20
780               Home              2          3             225.07
350             Beauty              4          0             342.44
10            Clothing              9          6             189.12
883             Sports              5          3             441.57
744             Beauty              0          3             323.13
579           Clothing              6          3             458.46
15         Electronics              8          7             403.24
432           Clothing              4          7             262.07
750             Sports              7          5             276.93

      payment_method purchase
1136             COD        1
780       Debit Card        0
350              COD        1
10               COD        1
883              UPI        1
744       NetBanking        1
579       NetBanking        1
15               UPI        0
432       NetBanking        1
750       Debit Card        1

[10 rows x 25 columns]
(1200, 25)
Index(['user_id', 'session_id', 'date', 'gender', 'age', 'location',
       'membership_status', 'returning_customer', 'device_type', 'browser',
       'time_of_day', 'time_spent_minutes', 'pages_viewed', 'scroll_depth',
       'clicks', 'traffic_source', 'ad_campaign', 'coupon_used',
       'discount_applied', 'product_category', 'wishlist_items', 'cart_items',
       'avg_session_value', 'payment_method', 'purchase'],
      dtype='object')

## 2Ô∏è‚É£ Series vs DataFrame (Core Foundation)

### DataFrame
- 2D structure (rows & columns)

### Series
- 1D structure (single column)

Understanding this avoids logical errors later.

In [3]:

type(df)

pandas.core.frame.DataFrame

In [4]:

col_series = df[df.columns[0]]
type(col_series)
col_series.head()

0    1
1    2
2    3
3    4
4    5
Name: user_id, dtype: int64

In [5]:

# Convert Series to DataFrame
col_series.to_frame().head()

   user_id
0        1
1        2
2        3
3        4
4        5

## 3Ô∏è‚É£ Axis Explained (Most Confusing but Most Important)

### axis = 0 (DEFAULT)
- Column-wise operation
- Vertical direction

### axis = 1
- Row-wise operation
- Horizontal direction

If axis is misunderstood, aggregations will be wrong.

In [55]:

num_cols = df.select_dtypes(include='number').columns

# Column-wise mean
df[num_cols].mean(axis=0)

user_id                600.500000
session_id            3025.237500
age                     41.400000
returning_customer       0.390000
time_spent_minutes      30.143333
pages_viewed            10.125000
scroll_depth            55.570833
clicks                  24.271667
coupon_used              0.320833
discount_applied         0.391667
wishlist_items           4.411667
cart_items               3.486667
avg_session_value      253.397717
purchase                 0.563333
dtype: float64

In [56]:

# Row-wise mean (per record)
df[num_cols].mean(axis=1).head()

0    335.528571
1    357.122857
2    158.101429
3    198.699286
4    173.355000
dtype: float64

In [57]:

# Axis impact on sum
df[num_cols].sum(axis=0)
df[num_cols].sum(axis=1).head()

0    4697.40
1    4999.72
2    2213.42
3    2781.79
4    2426.97
dtype: float64

## 4Ô∏è‚É£ Data Exploration (Never Skip This Step)

### Why explore?
- Detect missing values
- Understand scale
- Identify numeric & categorical columns

In [58]:
df.describe(include='all')

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
count,1200.000000,1200.000000,1200,1200,1200.000000,1200,1200,1200.000000,1200,1200,...,1200,741,1200.000000,1200.000000,1200,1200.000000,1200.000000,1200.000000,1200,1200.000000
unique,NaN,NaN,1200,3,NaN,6,3,NaN,3,4,...,5,3,NaN,NaN,6,NaN,NaN,NaN,5,NaN
top,NaN,NaN,2023-01-01 00:00:00,Female,NaN,UK,Guest,NaN,Mobile,Chrome,...,Direct,Campaign_A,NaN,NaN,Clothing,NaN,NaN,NaN,UPI,NaN
freq,NaN,NaN,1,575,NaN,211,506,NaN,708,336,...,255,251,NaN,NaN,217,NaN,NaN,NaN,258,NaN
mean,600.500000,3025.237500,NaN,NaN,41.400000,NaN,NaN,0.390000,NaN,NaN,...,NaN,NaN,0.320833,0.391667,NaN,4.411667,3.486667,253.397717,NaN,0.563333
std,346.554469,1144.259301,NaN,NaN,13.465862,NaN,NaN,0.487953,NaN,NaN,...,NaN,NaN,0.466991,0.488326,NaN,2.895546,2.281994,144.030792,NaN,0.496179
min,1.000000,1001.000000,NaN,NaN,18.000000,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,5.000000,NaN,0.000000
25%,300.750000,2034.000000,NaN,NaN,30.000000,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,NaN,2.000000,2.000000,127.902500,NaN,0.000000
50%,600.500000,2999.000000,NaN,NaN,41.000000,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,NaN,4.000000,3.000000,254.965000,NaN,1.000000
75%,900.250000,4032.500000,NaN,NaN,53.000000,NaN,NaN,1.000000,NaN,NaN,...,NaN,NaN,1.000000,1.000000,NaN,7.000000,5.000000,376.885000,NaN,1.000000
max,1200.000000,4994.000000,NaN,NaN,64.000000,NaN,NaN,1.000000,NaN,NaN,...,NaN,NaN,1.000000,1.000000,NaN,9.000000,7.000000,499.680000,NaN,1.000000

In [59]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             1200 non-null   int64
 1   session_id          1200 non-null   int64
 2   date                1200 non-null   object
 3   gender              1200 non-null   object
 4   age                 1200 non-null   int64
 5   location            1200 non-null   object
 6   membership_status   1200 non-null   object
 7   returning_customer  1200 non-null   int64
 8   device_type         1200 non-null   object
 9   browser             1200 non-null   object
 10  time_of_day         1200 non-null   object
 11  time_spent_minutes  1200 non-null   int64
 12  pages_viewed        1200 non-null   int64
 13  scroll_depth        1200 non-null   int64
 14  clicks              1200 non-null   int64
 15  traffic_source      1200 non-null   object
 16  ad_campaign         741 non-null    object
 17  coupon_used         1200 non-null   int64
 18  discount_applied    1200 non-null   int64
 19  product_category    1200 non-null   object
 20  wishlist_items      1200 non-null   int64
 21  cart_items          1200 non-null   int64
 22  avg_session_value   1200 non-null   float64
 23  payment_method      1200 non-null   object
 24  purchase            1200 non-null   int64
dtypes: float64(1), int64(13), object(11)
memory usage: 234.5+ KB

## 5Ô∏è‚É£ Selecting Rows & Columns

### Selection Methods
- Column slicing
- Row slicing
- Mixed selection

In [63]:
df.head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [60]:
df[df.columns[:4]]

      user_id  session_id                 date  gender
0           1        4174  2023-01-01 00:00:00  Female
1           2        4507  2023-01-01 01:00:00    Male
2           3        1860  2023-01-01 02:00:00    Male
3           4        2294  2023-01-01 03:00:00  Female
4           5        2130  2023-01-01 04:00:00  Female
...       ...         ...                  ...     ...
1195     1196        3261  2023-02-19 19:00:00  Female
1196     1197        3286  2023-02-19 20:00:00  Female
1197     1198        2079  2023-02-19 21:00:00    Male
1198     1199        3397  2023-02-19 22:00:00    Male
1199     1200        1106  2023-02-19 23:00:00    Male

[1200 rows x 4 columns]

In [64]:
df.loc[:5, df.columns[:4]]

   user_id  session_id                 date  gender
0        1        4174  2023-01-01 00:00:00  Female
1        2        4507  2023-01-01 01:00:00    Male
2        3        1860  2023-01-01 02:00:00    Male
3        4        2294  2023-01-01 03:00:00  Female
4        5        2130  2023-01-01 04:00:00  Female
5        6        2095  2023-01-01 05:00:00    Male

In [65]:
df.iloc[:5, :4]

   user_id  session_id                 date  gender
0        1        4174  2023-01-01 00:00:00  Female
1        2        4507  2023-01-01 01:00:00    Male
2        3        1860  2023-01-01 02:00:00    Male
3        4        2294  2023-01-01 03:00:00  Female
4        5        2130  2023-01-01 04:00:00  Female

In [11]:

# Conditional selection using loc
df.loc[df[num_cols[0]] > df[num_cols[0]].mean(), df.columns[:4]]

      user_id  session_id                 date  gender
600       601        1830  2023-01-26 00:00:00    Male
601       602        2810  2023-01-26 01:00:00    Male
602       603        4675  2023-01-26 02:00:00  Female
603       604        2081  2023-01-26 03:00:00  Female
604       605        2974  2023-01-26 04:00:00    Male
...       ...         ...                  ...     ...
1195     1196        3261  2023-02-19 19:00:00  Female
1196     1197        3286  2023-02-19 20:00:00  Female
1197     1198        2079  2023-02-19 21:00:00    Male
1198     1199        3397  2023-02-19 22:00:00    Male
1199     1200        1106  2023-02-19 23:00:00    Male

[600 rows x 4 columns]

## 6Ô∏è‚É£ Creating Pandas Series (Practical Use)

### Why create Series manually?
- Discount slabs
- Tax rates
- Thresholds

In [12]:

discount_rates = pd.Series([0.05, 0.10, 0.20],
                           index=["Low", "Medium", "High"])
discount_rates

Low       0.05
Medium    0.10
High      0.20
dtype: float64

In [13]:

# Arithmetic on Series
discount_rates * 100

Low        5.0
Medium    10.0
High      20.0
dtype: float64

# üßπ DATA CLEANING ‚Äì MOST IMPORTANT PART

Real-world data is **never clean**.

## 7Ô∏è‚É£ Detecting Missing Values

In [14]:

df.isnull().sum()

user_id                 0
session_id              0
date                    0
gender                  0
age                     0
location                0
membership_status       0
returning_customer      0
device_type             0
browser                 0
time_of_day             0
time_spent_minutes      0
pages_viewed            0
scroll_depth            0
clicks                  0
traffic_source          0
ad_campaign           459
coupon_used             0
discount_applied        0
product_category        0
wishlist_items          0
cart_items              0
avg_session_value       0
payment_method          0
purchase                0
dtype: int64

In [15]:

# Percentage of missing values
(df.isnull().mean() * 100).round(2)

user_id                0.00
session_id             0.00
date                   0.00
gender                 0.00
age                    0.00
location               0.00
membership_status      0.00
returning_customer     0.00
device_type            0.00
browser                0.00
time_of_day            0.00
time_spent_minutes     0.00
pages_viewed           0.00
scroll_depth           0.00
clicks                 0.00
traffic_source         0.00
ad_campaign           38.25
coupon_used            0.00
discount_applied       0.00
product_category       0.00
wishlist_items         0.00
cart_items             0.00
avg_session_value      0.00
payment_method         0.00
purchase               0.00
dtype: float64

## 8Ô∏è‚É£ Handling Missing Values ‚Äì Numeric Data

### Mean Imputation
- Simple
- Sensitive to outliers

### Median Imputation
- Robust
- Preferred for skewed data

In [16]:

df.fillna(df.mean(numeric_only=True)).head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [17]:

df.fillna(df.median(numeric_only=True)).head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

## 9Ô∏è‚É£ Handling Missing Values ‚Äì Categorical Data

### Mode Imputation
Most frequent value replaces missing values.

In [18]:

cat_cols = df.select_dtypes(include='object').columns

df_cat = df.copy()
df_cat[cat_cols] = df_cat[cat_cols].fillna(df_cat[cat_cols].mode().iloc[0])
df_cat.head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

## üîü Forward Fill & Backward Fill

Used mainly for **time-series data**

In [19]:

df.fillna(method='ffill').head()

/var/folders/v5/2xv9352947zbqtzrjyrby08c0000gn/T/ipykernel_5371/2176945753.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill').head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [20]:

df.fillna(method='bfill').head()

/var/folders/v5/2xv9352947zbqtzrjyrby08c0000gn/T/ipykernel_5371/2556204359.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill').head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

## 1Ô∏è‚É£1Ô∏è‚É£ Dropping Missing Data

In [21]:

df.dropna().head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [22]:

df.dropna(axis=1).head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,clicks,traffic_source,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,35,Referral,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,49,Social,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,16,Organic,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,40,Social,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,47,Social,1,0,Clothing,7,1,85.97,NetBanking,1

## 1Ô∏è‚É£2Ô∏è‚É£ Duplicate Data Handling

In [23]:

df.duplicated().sum()

np.int64(0)

In [24]:

df.drop_duplicates().head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [25]:

# Drop duplicates based on one column
df.drop_duplicates(subset=df.columns[0]).head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

## 1Ô∏è‚É£3Ô∏è‚É£ Boolean Indexing (Filtering Data)

Used to focus on **specific segments**

In [26]:

df[df[num_cols[0]] > df[num_cols[0]].mean()]

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
600,601,1830,2023-01-26 00:00:00,Male,21,Germany,Registered,0,Mobile,Edge,...,Organic,Campaign_B,0,1,Sports,3,7,325.38,Debit Card,1
601,602,2810,2023-01-26 01:00:00,Male,21,Canada,Guest,0,Mobile,Firefox,...,Organic,Campaign_A,1,0,Books,6,0,424.43,Credit Card,0
602,603,4675,2023-01-26 02:00:00,Female,45,India,Guest,1,Desktop,Safari,...,Direct,NaN,0,1,Books,4,2,198.45,UPI,1
603,604,2081,2023-01-26 03:00:00,Female,25,India,Premium,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Beauty,7,0,278.61,Credit Card,0
604,605,2974,2023-01-26 04:00:00,Male,19,USA,Guest,0,Mobile,Edge,...,Ads,NaN,0,0,Books,5,4,389.27,Credit Card,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196,3261,2023-02-19 19:00:00,Female,28,India,Guest,1,Desktop,Edge,...,Social,Campaign_B,1,0,Electronics,2,2,282.90,Credit Card,1
1196,1197,3286,2023-02-19 20:00:00,Female,34,UK,Premium,0,Mobile,Chrome,...,Organic,Campaign_A,1,1,Clothing,8,7,271.23,Credit Card,1
1197,1198,2079,2023-02-19 21:00:00,Male,21,UK,Guest,1,Mobile,Chrome,...,Ads,Campaign_C,0,1,Home,2,0,136.05,COD,0
1198,1199,3397,2023-02-19 22:00:00,Male,64,Canada,Guest,0,Desktop,Firefox,...,Referral,Campaign_C,0,1,Clothing,3,6,418.37,Credit Card,1
1199,1200,1106,2023-02-19 23:00:00,Male,42,Canada,Registered,0,Desktop,Firefox,...,Referral,NaN,1,1,Sports,4,3,288.51,UPI,1

In [27]:

df[(df[num_cols[0]] > df[num_cols[0]].median()) &
   (df[num_cols[1]] > df[num_cols[1]].mean())]

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
602,603,4675,2023-01-26 02:00:00,Female,45,India,Guest,1,Desktop,Safari,...,Direct,NaN,0,1,Books,4,2,198.45,UPI,1
607,608,4545,2023-01-26 07:00:00,Male,39,Australia,Guest,1,Desktop,Chrome,...,Referral,NaN,1,0,Home,2,2,82.63,UPI,1
610,611,3838,2023-01-26 10:00:00,Female,46,USA,Registered,0,Desktop,Chrome,...,Social,NaN,1,1,Clothing,8,3,166.76,Debit Card,0
612,613,4464,2023-01-26 12:00:00,Male,29,Australia,Registered,0,Desktop,Chrome,...,Social,NaN,1,1,Sports,2,4,443.52,NetBanking,0
619,620,4822,2023-01-26 19:00:00,Female,37,India,Registered,0,Mobile,Safari,...,Social,NaN,0,0,Books,3,7,305.90,UPI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1193,3296,2023-02-19 16:00:00,Male,50,USA,Registered,0,Desktop,Firefox,...,Organic,Campaign_C,0,0,Books,5,7,370.79,UPI,1
1193,1194,3094,2023-02-19 17:00:00,Male,41,Germany,Guest,0,Mobile,Firefox,...,Referral,NaN,0,1,Sports,7,3,129.57,UPI,1
1195,1196,3261,2023-02-19 19:00:00,Female,28,India,Guest,1,Desktop,Edge,...,Social,Campaign_B,1,0,Electronics,2,2,282.90,Credit Card,1
1196,1197,3286,2023-02-19 20:00:00,Female,34,UK,Premium,0,Mobile,Chrome,...,Organic,Campaign_A,1,1,Clothing,8,7,271.23,Credit Card,1
1198,1199,3397,2023-02-19 22:00:00,Male,64,Canada,Guest,0,Desktop,Firefox,...,Referral,Campaign_C,0,1,Clothing,3,6,418.37,Credit Card,1

## 1Ô∏è‚É£4Ô∏è‚É£ Universal Functions & Transformations

In [28]:

# Log transformation
df[num_cols].apply(np.log1p).head()

,user_id,session_id,age,returning_customer,time_spent_minutes,pages_viewed,scroll_depth,clicks,coupon_used,discount_applied,wishlist_items,cart_items,avg_session_value,purchase
0,0.693147,8.336870,3.828641,0.0,4.094345,2.708050,2.890372,3.583519,0.000000,0.000000,1.609438,1.098612,5.847594,0.693147
1,1.098612,8.413609,3.555348,0.0,1.945910,2.890372,4.465908,3.912023,0.000000,0.693147,2.302585,0.693147,5.661988,0.693147
2,1.386294,7.528869,3.891820,0.0,3.970292,2.639057,3.135494,2.833213,0.000000,0.000000,1.945910,1.098612,5.254470,0.693147
3,1.609438,7.738488,3.258097,0.0,2.772589,2.397895,3.912023,3.713572,0.000000,0.693147,2.079442,2.079442,5.798456,0.693147
4,1.791759,7.664347,4.060443,0.0,3.218876,0.693147,4.219508,3.871201,0.693147,0.000000,2.079442,0.693147,4.465563,0.693147

In [29]:

# Rounding
df[num_cols].round(2).head()

,user_id,session_id,age,returning_customer,time_spent_minutes,pages_viewed,scroll_depth,clicks,coupon_used,discount_applied,wishlist_items,cart_items,avg_session_value,purchase
0,1,4174,45,0,59,14,17,35,0,0,4,2,345.40,1
1,2,4507,34,0,6,17,86,49,0,1,9,1,286.72,1
2,3,1860,48,0,52,13,22,16,0,0,6,2,190.42,1
3,4,2294,25,0,15,10,49,40,0,1,7,7,328.79,1
4,5,2130,57,0,24,1,67,47,1,0,7,1,85.97,1

## 1Ô∏è‚É£5Ô∏è‚É£ GroupBy ‚Äì HEART OF ANALYSIS

In [30]:

df.groupby(df.columns[0])[num_cols].mean().head()

,user_id,session_id,age,returning_customer,time_spent_minutes,pages_viewed,scroll_depth,clicks,coupon_used,discount_applied,wishlist_items,cart_items,avg_session_value,purchase
user_id,,,,,,,,,,,,,,
1,1.0,4174.0,45.0,0.0,59.0,14.0,17.0,35.0,0.0,0.0,4.0,2.0,345.40,1.0
2,2.0,4507.0,34.0,0.0,6.0,17.0,86.0,49.0,0.0,1.0,9.0,1.0,286.72,1.0
3,3.0,1860.0,48.0,0.0,52.0,13.0,22.0,16.0,0.0,0.0,6.0,2.0,190.42,1.0
4,4.0,2294.0,25.0,0.0,15.0,10.0,49.0,40.0,0.0,1.0,7.0,7.0,328.79,1.0
5,5.0,2130.0,57.0,0.0,24.0,1.0,67.0,47.0,1.0,0.0,7.0,1.0,85.97,1.0

In [31]:

df.groupby(df.columns[0])[num_cols].agg(['mean','sum','count']).head()

        user_id           session_id               age            \
           mean sum count       mean   sum count  mean sum count
user_id
1           1.0   1     1     4174.0  4174     1  45.0  45     1
2           2.0   2     1     4507.0  4507     1  34.0  34     1
3           3.0   3     1     1860.0  1860     1  48.0  48     1
4           4.0   4     1     2294.0  2294     1  25.0  25     1
5           5.0   5     1     2130.0  2130     1  57.0  57     1

        returning_customer  ... wishlist_items cart_items            \
                      mean  ...          count       mean sum count
user_id                     ...
1                      0.0  ...              1        2.0   2     1
2                      0.0  ...              1        1.0   1     1
3                      0.0  ...              1        2.0   2     1
4                      0.0  ...              1        7.0   7     1
5                      0.0  ...              1        1.0   1     1

        avg_session_value               purchase
                     mean     sum count     mean sum count
user_id
1                  345.40  345.40     1      1.0   1     1
2                  286.72  286.72     1      1.0   1     1
3                  190.42  190.42     1      1.0   1     1
4                  328.79  328.79     1      1.0   1     1
5                   85.97   85.97     1      1.0   1     1

[5 rows x 42 columns]

## 1Ô∏è‚É£6Ô∏è‚É£ Working with Text Data

In [32]:

text_cols = df.select_dtypes(include='object').columns

df[text_cols[0]].str.lower().head()

0    2023-01-01 00:00:00
1    2023-01-01 01:00:00
2    2023-01-01 02:00:00
3    2023-01-01 03:00:00
4    2023-01-01 04:00:00
Name: date, dtype: object

In [33]:

df[text_cols[0]].str.contains('a', case=False, na=False).head()

0    False
1    False
2    False
3    False
4    False
Name: date, dtype: bool

In [34]:

df[text_cols[0]].str.len().head()

0    19
1    19
2    19
3    19
4    19
Name: date, dtype: int64

## 1Ô∏è‚É£7Ô∏è‚É£ Merging & Joining Data

In [35]:

mini = df[[df.columns[0]]].drop_duplicates().head(5)

pd.merge(mini, mini, on=df.columns[0], how='inner')

   user_id
0        1
1        2
2        3
3        4
4        5

In [36]:

pd.merge(mini, mini, on=df.columns[0], how='left')

   user_id
0        1
1        2
2        3
3        4
4        5

## 1Ô∏è‚É£8Ô∏è‚É£ Concatenation

In [37]:

pd.concat([df.head(5), df.tail(5)], axis=0)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1
1195,1196,3261,2023-02-19 19:00:00,Female,28,India,Guest,1,Desktop,Edge,...,Social,Campaign_B,1,0,Electronics,2,2,282.90,Credit Card,1
1196,1197,3286,2023-02-19 20:00:00,Female,34,UK,Premium,0,Mobile,Chrome,...,Organic,Campaign_A,1,1,Clothing,8,7,271.23,Credit Card,1
1197,1198,2079,2023-02-19 21:00:00,Male,21,UK,Guest,1,Mobile,Chrome,...,Ads,Campaign_C,0,1,Home,2,0,136.05,COD,0
1198,1199,3397,2023-02-19 22:00:00,Male,64,Canada,Guest,0,Desktop,Firefox,...,Referral,Campaign_C,0,1,Clothing,3,6,418.37,Credit Card,1
1199,1200,1106,2023-02-19 23:00:00,Male,42,Canada,Registered,0,Desktop,Firefox,...,Referral,NaN,1,1,Sports,4,3,288.51,UPI,1

In [38]:

pd.concat([df.head(5), df.head(5)], axis=1)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

## 1Ô∏è‚É£9Ô∏è‚É£ Working with Date & Time

In [39]:

date_col = df.select_dtypes(include='object').columns[0]
dates = pd.to_datetime(df[date_col], errors='coerce')

dates.dt.year.value_counts().head()

date
2023    1200
Name: count, dtype: int64

In [40]:

dates.dt.month.value_counts().head()

date
1    744
2    456
Name: count, dtype: int64

## 2Ô∏è‚É£0Ô∏è‚É£ Random Sampling, Duplicates & Query

In [41]:

df.sample(10)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
1150,1151,4445,2023-02-17 22:00:00,Male,34,UK,Premium,1,Mobile,Safari,...,Direct,Campaign_B,0,0,Home,2,6,119.74,Debit Card,0
757,758,2122,2023-02-01 13:00:00,Female,53,UK,Registered,0,Mobile,Firefox,...,Organic,NaN,0,0,Clothing,7,3,418.74,UPI,1
1048,1049,3504,2023-02-13 16:00:00,Female,25,India,Registered,0,Mobile,Edge,...,Ads,Campaign_A,1,0,Home,4,5,115.29,COD,0
829,830,1732,2023-02-04 13:00:00,Female,58,Germany,Guest,1,Mobile,Safari,...,Direct,NaN,0,1,Sports,7,1,102.31,Credit Card,0
991,992,1255,2023-02-11 07:00:00,Male,21,UK,Premium,0,Desktop,Firefox,...,Organic,Campaign_C,0,1,Beauty,9,6,163.33,NetBanking,0
974,975,4006,2023-02-10 14:00:00,Female,23,USA,Guest,1,Mobile,Safari,...,Direct,Campaign_A,1,1,Clothing,9,0,76.56,Credit Card,1
287,288,3160,2023-01-12 23:00:00,Male,35,India,Guest,0,Mobile,Safari,...,Referral,Campaign_A,0,0,Clothing,8,4,384.77,Debit Card,1
686,687,3839,2023-01-29 14:00:00,Female,46,Australia,Guest,0,Desktop,Edge,...,Ads,Campaign_B,0,0,Beauty,5,5,200.42,COD,0
876,877,2205,2023-02-06 12:00:00,Male,43,UK,Guest,1,Desktop,Edge,...,Social,Campaign_C,0,1,Books,4,4,418.26,COD,1
310,311,1122,2023-01-13 22:00:00,Male,35,USA,Guest,0,Desktop,Edge,...,Social,NaN,1,0,Electronics,1,3,446.30,Debit Card,1

In [42]:

df.sample(frac=0.1)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
777,778,4952,2023-02-02 09:00:00,Male,27,USA,Guest,1,Mobile,Chrome,...,Referral,Campaign_A,1,1,Clothing,6,0,359.69,NetBanking,0
685,686,4087,2023-01-29 13:00:00,Male,18,India,Premium,1,Mobile,Edge,...,Ads,Campaign_B,0,0,Sports,4,1,234.48,Credit Card,1
757,758,2122,2023-02-01 13:00:00,Female,53,UK,Registered,0,Mobile,Firefox,...,Organic,NaN,0,0,Clothing,7,3,418.74,UPI,1
969,970,1040,2023-02-10 09:00:00,Other,36,Germany,Premium,1,Mobile,Safari,...,Organic,NaN,0,0,Home,8,4,12.39,Debit Card,1
360,361,1262,2023-01-16 00:00:00,Male,52,Germany,Guest,1,Mobile,Edge,...,Social,NaN,1,1,Electronics,5,2,67.74,Debit Card,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1112,1113,4552,2023-02-16 08:00:00,Other,34,Australia,Registered,0,Mobile,Edge,...,Direct,NaN,0,0,Books,7,1,64.10,UPI,0
355,356,2969,2023-01-15 19:00:00,Female,41,Canada,Guest,0,Mobile,Safari,...,Referral,Campaign_C,1,0,Clothing,8,6,308.21,UPI,1
942,943,4957,2023-02-09 06:00:00,Male,56,USA,Guest,0,Mobile,Safari,...,Ads,Campaign_A,0,0,Books,9,1,302.31,Debit Card,0
542,543,1971,2023-01-23 14:00:00,Female,52,UK,Guest,1,Desktop,Chrome,...,Referral,Campaign_B,1,0,Beauty,3,3,456.75,Credit Card,0
717,718,4373,2023-01-30 21:00:00,Male,30,USA,Guest,1,Desktop,Edge,...,Ads,NaN,0,0,Beauty,3,7,162.11,COD,0

In [43]:

df.query(f"{num_cols[0]} > {df[num_cols[0]].quantile(0.75)}").head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
900,901,2996,2023-02-07 12:00:00,Male,62,Australia,Guest,0,Desktop,Chrome,...,Ads,Campaign_A,0,1,Home,7,3,429.75,Credit Card,0
901,902,3395,2023-02-07 13:00:00,Female,49,UK,Guest,0,Mobile,Safari,...,Direct,NaN,0,0,Electronics,2,2,134.58,Debit Card,0
902,903,1189,2023-02-07 14:00:00,Female,39,India,Registered,0,Mobile,Safari,...,Organic,NaN,0,0,Beauty,3,2,348.10,Credit Card,1
903,904,1504,2023-02-07 15:00:00,Male,21,UK,Guest,0,Mobile,Firefox,...,Social,Campaign_B,0,0,Books,3,5,202.95,Credit Card,1
904,905,2214,2023-02-07 16:00:00,Female,22,Australia,Registered,1,Mobile,Edge,...,Organic,Campaign_B,1,0,Books,7,2,210.00,Debit Card,1

## 2Ô∏è‚É£1Ô∏è‚É£ Statistics & Probability Concepts

In [44]:

df[num_cols].mean()
df[num_cols].median()
df[num_cols].std()
df[num_cols].quantile([0.25, 0.5, 0.75])

,user_id,session_id,age,returning_customer,time_spent_minutes,pages_viewed,scroll_depth,clicks,coupon_used,discount_applied,wishlist_items,cart_items,avg_session_value,purchase
0.25,300.75,2034.0,30.0,0.0,15.0,5.0,34.75,13.0,0.0,0.0,2.0,2.0,127.9025,0.0
0.50,600.50,2999.0,41.0,0.0,29.0,10.0,55.00,23.0,0.0,0.0,4.0,3.0,254.9650,1.0
0.75,900.25,4032.5,53.0,1.0,45.0,15.0,78.00,36.0,1.0,1.0,7.0,5.0,376.8850,1.0

## 2Ô∏è‚É£2Ô∏è‚É£ Sampling Techniques

### Types
- Simple Random Sampling
- Stratified Sampling
- Systematic Sampling

In [45]:

# Simple random sampling
df.sample(20)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
278,279,4878,2023-01-12 14:00:00,Male,42,Canada,Guest,0,Mobile,Firefox,...,Direct,Campaign_B,0,1,Books,0,7,64.66,NetBanking,1
517,518,4882,2023-01-22 13:00:00,Male,57,Australia,Guest,0,Desktop,Edge,...,Referral,Campaign_B,1,0,Clothing,6,5,273.83,Debit Card,1
323,324,3191,2023-01-14 11:00:00,Male,21,India,Guest,0,Mobile,Safari,...,Ads,Campaign_C,0,0,Beauty,2,6,224.78,UPI,1
876,877,2205,2023-02-06 12:00:00,Male,43,UK,Guest,1,Desktop,Edge,...,Social,Campaign_C,0,1,Books,4,4,418.26,COD,1
181,182,4840,2023-01-08 13:00:00,Female,36,Australia,Registered,0,Mobile,Edge,...,Direct,NaN,1,0,Books,0,1,359.53,COD,0
484,485,1699,2023-01-21 04:00:00,Male,39,India,Registered,0,Desktop,Firefox,...,Referral,Campaign_B,0,1,Clothing,1,7,453.18,Credit Card,0
833,834,1750,2023-02-04 17:00:00,Female,49,Canada,Premium,0,Desktop,Safari,...,Referral,Campaign_B,0,1,Beauty,7,0,358.34,UPI,0
837,838,1953,2023-02-04 21:00:00,Female,56,Germany,Registered,0,Mobile,Safari,...,Organic,Campaign_A,0,0,Home,3,0,487.77,NetBanking,0
832,833,3705,2023-02-04 16:00:00,Female,28,UK,Registered,0,Mobile,Edge,...,Direct,Campaign_B,0,0,Beauty,1,7,378.41,NetBanking,0
1154,1155,1359,2023-02-18 02:00:00,Male,58,India,Premium,0,Mobile,Safari,...,Direct,Campaign_C,0,0,Books,2,2,370.29,NetBanking,0
397,398,1253,2023-01-17 13:00:00,Female,29,UK,Premium,0,Mobile,Edge,...,Social,Campaign_C,0,1,Sports,6,0,237.75,UPI,0
824,825,4294,2023-02-04 08:00:00,Female,20,Canada,Guest,1,Mobile,Firefox,...,Direct,NaN,0,1,Home,9,3,185.34,COD,1
1019,1020,3842,2023-02-12 11:00:00,Female,59,Canada,Guest,0,Mobile,Firefox,...,Ads,Campaign_A,0,1,Beauty,0,1,456.16,NetBanking,1
55,56,2267,2023-01-03 07:00:00,Male,64,Germany,Guest,0,Mobile,Chrome,...,Organic,NaN,0,0,Clothing,9,0,399.39,Debit Card,0
481,482,1180,2023-01-21 01:00:00,Male,38,UK,Premium,1,Desktop,Safari,...,Organic,Campaign_A,0,0,Sports,5,4,336.45,Credit Card,0
441,442,4436,2023-01-19 09:00:00,Female,26,UK,Guest,0,Tablet,Edge,...,Direct,NaN,1,0,Clothing,1,5,80.05,Debit Card,1
288,289,1001,2023-01-13 00:00:00,Female,60,Germany,Guest,0,Mobile,Chrome,...,Referral,NaN,0,1,Electronics,9,1,495.38,Debit Card,1
21,22,4380,2023-01-01 21:00:00,Female,57,USA,Premium,0,Desktop,Edge,...,Referral,Campaign_B,1,1,Books,9,0,109.40,Debit Card,0
1116,1117,1541,2023-02-16 12:00:00,Female,27,Canada,Guest,0,Mobile,Edge,...,Direct,NaN,0,1,Sports,0,3,112.32,UPI,1
648,649,4118,2023-01-28 00:00:00,Male,57,Germany,Guest,0,Desktop,Edge,...,Social,NaN,0,1,Clothing,1,4,490.84,Credit Card,1

In [46]:

# Stratified sampling
df.groupby(df.columns[0], group_keys=False).apply(lambda x: x.sample(2)).head()

ValueError: Cannot take a larger sample than population when 'replace=False'

## 2Ô∏è‚É£3Ô∏è‚É£ Pandas Excel Writer (Reporting)

In [ ]:

with pd.ExcelWriter("pandas_complete_extreme_course.xlsx", engine="xlsxwriter") as writer:
    df.head(200).to_excel(writer, sheet_name="Sample", index=False)
    df.describe().to_excel(writer, sheet_name="Statistics")

## üéì FINAL COURSE OUTCOME

After completing this notebook, students can:
‚úî Perform full data cleaning  
‚úî Analyze real datasets  
‚úî Apply Pandas confidently  
‚úî Prepare data for ML & reporting  

This notebook is a **complete Pandas course**.