## ðŸ”¹ 4. Data Cleaning & Preparation (CORE REAL-WORLD SKILL)

In [59]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/venuprakash17/CVR/refs/heads/main/Realistic_E-Commerce_Dataset.csv')

In [60]:
df.head()

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,traffic_source,ad_campaign,coupon_used,discount_applied,product_category,wishlist_items,cart_items,avg_session_value,payment_method,purchase
0,1,4174,2023-01-01 00:00:00,Female,45,Australia,Registered,0,Mobile,Edge,...,Referral,Campaign_B,0,0,Sports,4,2,345.40,COD,1
1,2,4507,2023-01-01 01:00:00,Male,34,USA,Guest,0,Mobile,Edge,...,Social,Campaign_C,0,1,Books,9,1,286.72,Debit Card,1
2,3,1860,2023-01-01 02:00:00,Male,48,Canada,Guest,0,Mobile,Safari,...,Organic,Campaign_C,0,0,Electronics,6,2,190.42,UPI,1
3,4,2294,2023-01-01 03:00:00,Female,25,Germany,Registered,0,Desktop,Edge,...,Social,Campaign_B,0,1,Home,7,7,328.79,UPI,1
4,5,2130,2023-01-01 04:00:00,Female,57,UK,Registered,0,Desktop,Chrome,...,Social,Campaign_A,1,0,Clothing,7,1,85.97,NetBanking,1

In [61]:
df.columns

Index(['user_id', 'session_id', 'date', 'gender', 'age', 'location',
       'membership_status', 'returning_customer', 'device_type', 'browser',
       'time_of_day', 'time_spent_minutes', 'pages_viewed', 'scroll_depth',
       'clicks', 'traffic_source', 'ad_campaign', 'coupon_used',
       'discount_applied', 'product_category', 'wishlist_items', 'cart_items',
       'avg_session_value', 'payment_method', 'purchase'],
      dtype='object')

In [62]:
df.isnull().sum()

user_id                 0
session_id              0
date                    0
gender                  0
age                     0
location                0
membership_status       0
returning_customer      0
device_type             0
browser                 0
time_of_day             0
time_spent_minutes      0
pages_viewed            0
scroll_depth            0
clicks                  0
traffic_source          0
ad_campaign           459
coupon_used             0
discount_applied        0
product_category        0
wishlist_items          0
cart_items              0
avg_session_value       0
payment_method          0
purchase                0
dtype: int64

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             1200 non-null   int64
 1   session_id          1200 non-null   int64
 2   date                1200 non-null   object
 3   gender              1200 non-null   object
 4   age                 1200 non-null   int64
 5   location            1200 non-null   object
 6   membership_status   1200 non-null   object
 7   returning_customer  1200 non-null   int64
 8   device_type         1200 non-null   object
 9   browser             1200 non-null   object
 10  time_of_day         1200 non-null   object
 11  time_spent_minutes  1200 non-null   int64
 12  pages_viewed        1200 non-null   int64
 13  scroll_depth        1200 non-null   int64
 14  clicks              1200 non-null   int64
 15  traffic_source      1200 non-null   object
 16  ad_campaign         741 non-null    object
 17  coupon_used         1200 non-null   int64
 18  discount_applied    1200 non-null   int64
 19  product_category    1200 non-null   object
 20  wishlist_items      1200 non-null   int64
 21  cart_items          1200 non-null   int64
 22  avg_session_value   1200 non-null   float64
 23  payment_method      1200 non-null   object
 24  purchase            1200 non-null   int64
dtypes: float64(1), int64(13), object(11)
memory usage: 234.5+ KB

In [64]:
df.isnull().sum()

user_id                 0
session_id              0
date                    0
gender                  0
age                     0
location                0
membership_status       0
returning_customer      0
device_type             0
browser                 0
time_of_day             0
time_spent_minutes      0
pages_viewed            0
scroll_depth            0
clicks                  0
traffic_source          0
ad_campaign           459
coupon_used             0
discount_applied        0
product_category        0
wishlist_items          0
cart_items              0
avg_session_value       0
payment_method          0
purchase                0
dtype: int64

In [84]:
df["age"] = df["age"].fillna(df["age"].median())
df["payment_method"] = df["payment_method"].fillna("Unknown")

In [66]:
df.dropna(subset=["ad_campaign"], inplace=True)

In [67]:
df.drop(columns=["ad_campaign"], inplace=True)

## ðŸ”¹ 6. Feature Engineering (EXPERT HABIT)

In [85]:
df["date"].head()

0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
Name: date, dtype: datetime64[ns]

In [68]:
df["date"] = pd.to_datetime(df["date"])


df["day"] = df["date"].dt.day
df["month"] = df["date"].dt.month
df["weekday"] = df["date"].dt.day_name()
df["is_weekend"] = df["date"].dt.weekday >= 5

In [69]:
df["hour"] = df["date"].dt.hour
df["minute"] = df["date"].dt.minute
df["second"] = df["date"].dt.second

In [70]:
df["hour"]

0        0
1        1
2        2
3        3
4        4
        ..
1194    18
1195    19
1196    20
1197    21
1198    22
Name: hour, Length: 741, dtype: int32

In [71]:
df["engagement_score"] = (
    df["pages_viewed"] +
    df["clicks"] +
    df["scroll_depth"]
)

In [86]:
df.columns

Index(['user_id', 'session_id', 'date', 'gender', 'age', 'location',
       'membership_status', 'returning_customer', 'device_type', 'browser',
       'time_of_day', 'time_spent_minutes', 'pages_viewed', 'scroll_depth',
       'clicks', 'traffic_source', 'coupon_used', 'discount_applied',
       'product_category', 'wishlist_items', 'cart_items', 'avg_session_value',
       'payment_method', 'purchase', 'day', 'month', 'weekday', 'is_weekend',
       'hour', 'minute', 'second', 'engagement_score', 'age_group',
       'time_of_day_bin'],
      dtype='object')

In [87]:
df.sort_values("age", ascending=False)

,user_id,session_id,date,gender,age,location,membership_status,returning_customer,device_type,browser,...,day,month,weekday,is_weekend,hour,minute,second,engagement_score,age_group,time_of_day_bin
1198,1199,3397,2023-02-19 22:00:00,Male,64,Canada,Guest,0,Desktop,Firefox,...,19,2,Sunday,True,22,0,0,72,Senior,Evening
641,642,4506,2023-01-27 17:00:00,Male,64,Canada,Guest,1,Desktop,Safari,...,27,1,Friday,False,17,0,0,153,Senior,Afternoon
990,991,3930,2023-02-11 06:00:00,Female,64,Canada,Guest,1,Mobile,Firefox,...,11,2,Saturday,True,6,0,0,85,Senior,Morning
955,956,1667,2023-02-09 19:00:00,Female,64,Canada,Premium,0,Mobile,Edge,...,9,2,Thursday,False,19,0,0,130,Senior,Evening
201,202,1563,2023-01-09 09:00:00,Female,64,Canada,Guest,1,Desktop,Safari,...,9,1,Monday,False,9,0,0,52,Senior,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,866,4398,2023-02-06 01:00:00,Female,18,Australia,Guest,0,Mobile,Firefox,...,6,2,Monday,False,1,0,0,119,Teen,Midnight
108,109,4934,2023-01-05 12:00:00,Female,18,India,Guest,0,Desktop,Chrome,...,5,1,Thursday,False,12,0,0,102,Teen,Afternoon
446,447,3074,2023-01-19 14:00:00,Other,18,Australia,Guest,0,Tablet,Safari,...,19,1,Thursday,False,14,0,0,122,Teen,Afternoon
1039,1040,4044,2023-02-13 07:00:00,Male,18,USA,Registered,1,Mobile,Firefox,...,13,2,Monday,False,7,0,0,98,Teen,Morning
925,926,3811,2023-02-08 13:00:00,Female,18,Australia,Premium,1,Mobile,Firefox,...,8,2,Wednesday,False,13,0,0,60,Teen,Afternoon

## ðŸ”¹ 8. Sorting, Ranking & Binning

# Why do we need Binning?

Binning is used to:

- Make data easier to understand

- Reduce noise in continuous data

- Enable group-level analysis

- Help in business decision-making

- Improve visualization & reporting

In [73]:
# Binning (Segmentation)
df["age_group"] = pd.cut(
    df["age"],
    bins=[0,18,30,45,60,100],
    labels=["Teen","Young","Adult","Mid","Senior"]
)

In [74]:
df["time_of_day_bin"] = pd.cut(
    df["hour"],
    bins=[-1, 5, 11, 17, 23],
    labels=["Midnight", "Morning", "Afternoon", "Evening"]
)

In [75]:
df["time_of_day_bin"].head(20)

0      Midnight
1      Midnight
2      Midnight
3      Midnight
4      Midnight
8       Morning
9       Morning
10      Morning
11      Morning
12    Afternoon
16    Afternoon
17    Afternoon
19      Evening
20      Evening
21      Evening
22      Evening
23      Evening
26     Midnight
27     Midnight
29     Midnight
Name: time_of_day_bin, dtype: category
Categories (4, object): ['Midnight' < 'Morning' < 'Afternoon' < 'Evening']

## ðŸ”¹ 9. GroupBy & Aggregations (MOST IMPORTANT)

In [88]:
df.groupby("product_category")["age"].mean()

product_category
Beauty         39.684615
Books          43.556452
Clothing       41.243902
Electronics    40.837209
Home           41.015625
Sports         40.065421
Name: age, dtype: float64

In [77]:
df.groupby("location").agg(
    avg_time_spent=("time_spent_minutes", "mean"),
    avg_pages=("pages_viewed", "mean"),
    total_purchases=("purchase", "sum")
)

           avg_time_spent  avg_pages  total_purchases
location
Australia       31.352941   9.848739               67
Canada          29.833333  10.287879               70
Germany         32.466102  10.491525               73
India           29.974359   9.871795               60
UK              29.069231  10.400000               66
USA             29.096000   9.384000               80

### ðŸ“Œ Powerhouse for business analytics

## ðŸ”¹ 10. Reshaping Data (Advanced)

In [78]:
pd.pivot_table(
    df,
    values="time_spent_minutes",
    index="product_category",
    columns="location",
    aggfunc="mean"
)

location,Australia,Canada,Germany,India,UK,USA
product_category,,,,,,
Beauty,34.269231,26.444444,42.307692,34.583333,29.391304,23.823529
Books,27.400000,28.826087,27.600000,33.619048,24.235294,33.956522
Clothing,34.000000,29.090909,34.111111,24.666667,29.275862,28.523810
Electronics,28.857143,33.560000,31.086957,31.666667,35.105263,32.000000
Home,29.100000,24.823529,27.680000,25.600000,28.769231,26.750000
Sports,34.941176,36.666667,37.263158,27.812500,26.687500,27.666667

### âœ” Clean & readable

## ðŸ”¹ 11. Sampling Techniques & Probability

In [82]:
import pandas as pd

df1 = pd.DataFrame({
    "department": ["HR", "HR", "IT", "IT", "Sales", "Sales"],
    "salary": [40000, 45000, 60000, 65000, 50000, 55000]
})

df1

  department  salary
0         HR   40000
1         HR   45000
2         IT   60000
3         IT   65000
4      Sales   50000
5      Sales   55000

In [89]:
df1.groupby("department").apply(
    lambda x: x.assign(salary=x["salary"] * 1.10)
)

/var/folders/v5/2xv9352947zbqtzrjyrby08c0000gn/T/ipykernel_17231/2600473663.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df1.groupby("department").apply(

             department   salary
department
HR         0         HR  44000.0
           1         HR  49500.0
IT         2         IT  66000.0
           3         IT  71500.0
Sales      4      Sales  55000.0
           5      Sales  60500.0

### ðŸ“Œ Explain:
Random

Stratified

Systematic

Sampling bias

## ðŸ”¹ 13. Merging, Joining & Concatenation

In [ ]:
df.to_csv("clean_user_behavior_data.csv", index=False)

In [ ]:
df.to_excel(
    "user_behavior_report.xlsx",
    index=False,
    sheet_name="Raw_Data"
)